.elementor-kit-6{--e-global-color-primary:#4E038E;--e-global-color-secondary:#000000;--e-global-color-text:#000000;--e-global-color-accent:#FD00A7;--e-global-typography-primary-font-family:"Geist Sans";--e-global-typography-primary-font-weight:700;--e-global-typography-secondary-font-family:"Geist Sans";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Geist Sans";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Geist Sans";--e-global-typography-accent-font-weight:700;}.elementor-kit-6 e-page-transition{background-color:#FFBC7D;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1440px;}.e-con{--container-max-width:1440px;}.elementor-widget:not(:last-child){margin-block-end:20px;}.elementor-element{--widgets-spacing:20px 20px;--widgets-spacing-row:20px;--widgets-spacing-column:20px;}{}h1.entry-title{display:var(--page-title-display);}.site-header .site-branding{flex-direction:column;align-items:stretch;}.site-header{padding-inline-end:0px;padding-inline-start:0px;}.site-footer .site-branding{flex-direction:column;align-items:stretch;}@media(max-width:1024px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:767px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}/* Start custom CSS */p:last-child{
margin-bottom:0px;
}

.elementor-heading-title{
margin-bottom:0px;
}

html, body{
width: 100%;
overflow-x: hidden;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Geist Sans';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('https://desafiodrrenanbotelho.com.br/wp-content/uploads/2025/06/Geist-VariableFont_wght.ttf') format('truetype');
}
@font-face {
	font-family: 'Geist Sans';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('https://desafiodrrenanbotelho.com.br/wp-content/uploads/2025/06/Geist-VariableFont_wght.ttf') format('truetype');
}
@font-face {
	font-family: 'Geist Sans';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('https://desafiodrrenanbotelho.com.br/wp-content/uploads/2025/06/Geist-VariableFont_wght.ttf') format('truetype');
}
/* End Custom Fonts CSS */