.elementor-8138 .elementor-element.elementor-element-7ad2521{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--align-items:center;--padding-top:64px;--padding-bottom:64px;--padding-left:32px;--padding-right:32px;}.elementor-widget-heading .elementor-heading-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );color:var( --e-global-color-primary );}.elementor-8138 .elementor-element.elementor-element-0ac6b30{width:100%;max-width:100%;text-align:center;}.elementor-8138 .elementor-element.elementor-element-0ac6b30 > .elementor-widget-container{padding:0px 0px 0px 0px;border-style:none;}.elementor-8138 .elementor-element.elementor-element-0ac6b30 .elementor-heading-title{font-family:"Satoshi", Sans-serif;font-size:24px;font-weight:500;color:#3F1D7F;}.elementor-8138 .elementor-element.elementor-element-5026510{width:100%;max-width:100%;text-align:center;}.elementor-8138 .elementor-element.elementor-element-5026510 > .elementor-widget-container{padding:0px 0px 0px 0px;border-style:none;}.elementor-8138 .elementor-element.elementor-element-5026510 .elementor-heading-title{font-family:"Satoshi", Sans-serif;font-size:50px;font-weight:900;color:#3F1D7F;}.elementor-widget-text-editor{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );color:var( --e-global-color-text );}.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:var( --e-global-color-primary );}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap, .elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap{color:var( --e-global-color-primary );border-color:var( --e-global-color-primary );}.elementor-8138 .elementor-element.elementor-element-061cd05{text-align:center;font-family:"Geist Sans", Sans-serif;font-size:24px;font-weight:400;color:var( --e-global-color-primary );}.elementor-widget-button .elementor-button{background-color:var( --e-global-color-accent );font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-8138 .elementor-element.elementor-element-e611851 .elementor-button{background-color:var( --e-global-color-accent );font-family:"Satoshi", Sans-serif;font-size:16px;font-weight:600;text-transform:uppercase;fill:#FFFFFF;color:#FFFFFF;border-radius:4px 4px 4px 4px;padding:20px 8px 20px 8px;}.elementor-8138 .elementor-element.elementor-element-e611851{width:100%;max-width:100%;}.elementor-8138 .elementor-element.elementor-element-e611851 .elementor-button-content-wrapper{flex-direction:row;}.elementor-8138 .elementor-element.elementor-element-c782366 .elementor-button{background-color:#FD00A700;font-family:"Satoshi", Sans-serif;font-size:16px;font-weight:600;text-transform:uppercase;line-height:1.2em;fill:var( --e-global-color-accent );color:var( --e-global-color-accent );border-style:solid;border-width:2px 2px 2px 2px;border-color:var( --e-global-color-accent );border-radius:4px 4px 4px 4px;}#elementor-popup-modal-8138{background-color:rgba(0,0,0,.8);justify-content:center;align-items:center;pointer-events:all;}#elementor-popup-modal-8138 .dialog-message{width:640px;height:auto;}#elementor-popup-modal-8138 .dialog-close-button{display:flex;}#elementor-popup-modal-8138 .dialog-widget-content{border-radius:24px 24px 24px 24px;box-shadow:2px 8px 40px 3px rgba(0, 0, 0, 0.54);}@media(max-width:1024px){.elementor-8138 .elementor-element.elementor-element-0ac6b30 .elementor-heading-title{font-size:36px;}.elementor-8138 .elementor-element.elementor-element-5026510 .elementor-heading-title{font-size:36px;}}@media(max-width:767px){.elementor-8138 .elementor-element.elementor-element-7ad2521{--padding-top:48px;--padding-bottom:48px;--padding-left:29px;--padding-right:20px;}.elementor-8138 .elementor-element.elementor-element-0ac6b30{text-align:start;}.elementor-8138 .elementor-element.elementor-element-0ac6b30 .elementor-heading-title{font-size:33px;line-height:1.4em;}.elementor-8138 .elementor-element.elementor-element-5026510{text-align:center;}.elementor-8138 .elementor-element.elementor-element-5026510 .elementor-heading-title{font-size:33px;line-height:1.4em;}.elementor-8138 .elementor-element.elementor-element-061cd05{font-size:18px;}}/* Start custom CSS */#elementor-popup-modal-8138 {
  overflow: hidden !important; 
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Satoshi';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('https://desafiodrrenanbotelho.com.br/wp-content/uploads/2025/05/Satoshi-Regular.eot');
	src: url('https://desafiodrrenanbotelho.com.br/wp-content/uploads/2025/05/Satoshi-Regular.eot?#iefix') format('embedded-opentype'),
		url('https://desafiodrrenanbotelho.com.br/wp-content/uploads/2025/05/Satoshi-Regular.woff2') format('woff2'),
		url('https://desafiodrrenanbotelho.com.br/wp-content/uploads/2025/05/Satoshi-Regular.woff') format('woff'),
		url('https://desafiodrrenanbotelho.com.br/wp-content/uploads/2025/05/Satoshi-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Satoshi';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('https://desafiodrrenanbotelho.com.br/wp-content/uploads/2025/05/Satoshi-Medium.eot');
	src: url('https://desafiodrrenanbotelho.com.br/wp-content/uploads/2025/05/Satoshi-Medium.eot?#iefix') format('embedded-opentype'),
		url('https://desafiodrrenanbotelho.com.br/wp-content/uploads/2025/05/Satoshi-Medium.woff2') format('woff2'),
		url('https://desafiodrrenanbotelho.com.br/wp-content/uploads/2025/05/Satoshi-Medium.woff') format('woff'),
		url('https://desafiodrrenanbotelho.com.br/wp-content/uploads/2025/05/Satoshi-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Satoshi';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('https://desafiodrrenanbotelho.com.br/wp-content/uploads/2025/05/Satoshi-Bold.eot');
	src: url('https://desafiodrrenanbotelho.com.br/wp-content/uploads/2025/05/Satoshi-Bold.eot?#iefix') format('embedded-opentype'),
		url('https://desafiodrrenanbotelho.com.br/wp-content/uploads/2025/05/Satoshi-Bold.woff2') format('woff2'),
		url('https://desafiodrrenanbotelho.com.br/wp-content/uploads/2025/05/Satoshi-Bold.woff') format('woff'),
		url('https://desafiodrrenanbotelho.com.br/wp-content/uploads/2025/05/Satoshi-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Satoshi';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('https://desafiodrrenanbotelho.com.br/wp-content/uploads/2025/05/Satoshi-Black.eot');
	src: url('https://desafiodrrenanbotelho.com.br/wp-content/uploads/2025/05/Satoshi-Black.eot?#iefix') format('embedded-opentype'),
		url('https://desafiodrrenanbotelho.com.br/wp-content/uploads/2025/05/Satoshi-Black.woff2') format('woff2'),
		url('https://desafiodrrenanbotelho.com.br/wp-content/uploads/2025/05/Satoshi-Black.woff') format('woff'),
		url('https://desafiodrrenanbotelho.com.br/wp-content/uploads/2025/05/Satoshi-Black.ttf') format('truetype');
}
@font-face {
	font-family: 'Satoshi';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('https://desafiodrrenanbotelho.com.br/wp-content/uploads/2025/05/Satoshi-Light.eot');
	src: url('https://desafiodrrenanbotelho.com.br/wp-content/uploads/2025/05/Satoshi-Light.eot?#iefix') format('embedded-opentype'),
		url('https://desafiodrrenanbotelho.com.br/wp-content/uploads/2025/05/Satoshi-Light.woff2') format('woff2'),
		url('https://desafiodrrenanbotelho.com.br/wp-content/uploads/2025/05/Satoshi-Light.woff') format('woff'),
		url('https://desafiodrrenanbotelho.com.br/wp-content/uploads/2025/05/Satoshi-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Satoshi';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: ;
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Geist Sans';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('https://desafiodrrenanbotelho.com.br/wp-content/uploads/2025/06/Geist-VariableFont_wght.ttf') format('truetype');
}
@font-face {
	font-family: 'Geist Sans';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('https://desafiodrrenanbotelho.com.br/wp-content/uploads/2025/06/Geist-VariableFont_wght.ttf') format('truetype');
}
@font-face {
	font-family: 'Geist Sans';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('https://desafiodrrenanbotelho.com.br/wp-content/uploads/2025/06/Geist-VariableFont_wght.ttf') format('truetype');
}
/* End Custom Fonts CSS */